.positions {
    .position {
        margin-bottom: 1rem;
        border-radius: 8px;
        padding: 0.5rem;
        max-width: 320px;
        text-align: center;
        font-size: 0.8rem;
        &.position-long {
            border-left: 2px solid green;
            border-right: 2px solid green;
        }
        &.position-short {
            border-left: 2px solid red;
            border-right: 2px solid red;
        }
    }
}