.users {
    .list-body {
        padding: 0.5em 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #181437;
        &:nth-child(2n + 1) {
            background-color: #eb3463;
        }

        & > div {
            display: flex;
            align-items: center;

            &:last-child {
                justify-content: flex-end;
            }
        }
        svg {
            font-size: 1.5em;
            cursor: pointer;
        }
    }
}