form {
    display: flex;
    flex-direction: column;
}

.form-title {
    font-size: 1.25rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
}

h2 {
    background-color: black;
    padding: 0.5em 0 !important;
    text-align: center;
    color: white !important;
    margin-bottom: 1em!important;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px darkgray;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px darkgray;
	background-color: #555;
}