.positions {
    .accordion-button {
        background-color: transparent !important;
        height: auto !important;
        padding: 0 !important;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .accordion-button:not(.collapsed) {
        color: #212529;
    }

    .accordion-item {
        border: none !important;
        margin-bottom: 2rem;
        border-radius: 0 !important;
        margin: 1rem 0;
        &.position-long {
            border-left: 5px solid green !important;
        }
        &.position-short {
            border-left: 5px solid red !important;
        }
    }

    .orders {
        .order {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            .order-header {
                padding: 0.5rem;
                background-color: #444444;
                color: white;
                font-size: 0.8rem;
            }
            .order-quantity {
                justify-content: right!important;
            }
        }

        .order:nth-child(2n + 1) {
            background-color: #f8f9fa;
            .order-tp-sl-title:nth-child(2n + 1) {
                color: red;
            }
        }
        .order:nth-child(2n) {
            background-color: #f8f9fa;
            .order-tp-sl-title:nth-child(2n + 1) {
                color: green;
            }
        }
        .order .row > * {
            display: flex;
            align-items: center;
            justify-content: left;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: left;
        }

        .order-status {
            font-size: 1.5rem;
            svg {
                border-radius: 100%;
            }
            .cancelled svg {
                background-color: orangered;
                color: white;
            }
            .terminated {
                svg {
                    background-color: green;
                    color: white;
                }
            }
        }
        .order-tp-sl-title {
            font-size: 0.8rem;
            font-weight: 700;
        }

        .order-tp-sl,
        .order-tp-sl-title {
            padding: 0.5rem 2rem;
        }
    }

    .position {
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;

        & > * {
            display: flex;
            align-items: center;
        }
        .position-title {
            font-size: 1rem;
        }

        .position-TP {
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
            span {
                display: flex;
                align-items: center;
                svg {
                    margin-left: 0.5rem;

                    &.icon-check {
                        color: white;
                        border-radius: 100%;
                        background-color: green;
                    }
                }
            }
        }
    }
}
