.navbar-cryptobot {
    min-height: 88px;
    max-height: 88px;
    display: flex;
    align-items: center;
    .navbar-brand {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            margin-right: 1rem;
            aspect-ratio: 2/1;
            height: 88px;
        }
    }
    .navbar-nav {
        width: 100%;
    }

    .navbar-body {
        border-radius: 0 0 15px 15px;
    }
}