.navbar-cryptobot {
    min-height: 88px;
    max-height: 88px;
    display: flex;
    align-items: center;
    background-color: #181437;
    color: #FA551C;
    padding: 0!important;

    .container-fluid {
        padding: 0!important;
        background-color: #181437;
    }
    .navbar-brand {
        padding: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            margin-right: 1rem;
            aspect-ratio: 4/1;
            height: 88px;
        }
    }
    .navbar-nav {
        width: 100%;
    }

    .navbar-toggler  {
        color: #FA551C;
        font-size: 2em;
        border: 1px solid #FA551C;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-body {
        background-color: #181437;
        z-index: 1000000;
        width: 100%;
        border-radius: 0 0 15px 15px;

        a {
            color: #FA551C;

            &:hover {
                opacity: 0.8;
                color: #EB3463;
            }

            &.active {
                color: white!important;
            }
        }
    }
}