.cgu {
    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    li {
        font-size: 1rem;
        margin: 0.5rem 0;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }

    .condition-generale {
        border-left: 2px solid gray;
        padding-left: 1em;
        margin-bottom: 2em;
    }
}
