.positions {
    .position {
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        border: none !important;
        margin-bottom: 2rem;
        border-radius: 1em !important;
        margin: 1rem 0;
        &.position-success {
            box-shadow: 0 0 5px 5px green;
        }
        &.position-danger {
            box-shadow: 0 0 5px 5px red;
        }
        .text-title {
            font-size: 1.5rem;
            font-weight: 700;
        }
        & > * {
            display: flex;
            align-items: center;
        }
        .position-title {
            font-size: 1rem;
        }

        .position-order {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            font-size: 1rem;
            span {
                display: flex;
                align-items: center;
                font-size: 0.9em;
                margin: 3px 0;
            }
        }

        .position-trigger.position-trigger-sl {
            justify-content: flex-end;
        }

        .position-trigger {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1rem;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.8em;
                line-height: 1.5em;
                font-weight: 500;
                color: white;
                padding: 3px 8px;
                border-radius: 15px;
                margin: 3px 0;
                svg {
                    margin-right: 0.5rem;
                    border-radius: 100%;

                    &.icon-check {
                        color: white;
                    }
                }

                &.position-tp {
                    background-color: green;
                }
                &.position-sl {
                    background-color: red;
                }
            }
        }
    }
}
