.strategy {
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    .form-title-sub {
        font-size: 1.5erm;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .strategy-part {
        border-left: 2px solid black;
        padding-left: 1rem;
        margin-bottom: 1rem;
        .strategy-action {
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        .strategy-list {
            margin-left: 1rem;
            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}